.animeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
  position: relative;
  padding: 40px 10px;

  h1 {
    margin-right: auto;
  }

  .animeContainerSub {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 1200px) {
    max-width: 100%;
    // padding: 20px 0px;
    .animeContainerSub {
      gap: 10px;
      row-gap: 30px;
    }
  }

  @media (max-width: 768px) {
    .animeContainerSub {

    }
  }

  @media (max-width: 480px) {
    .animeContainerSub {
      padding: 0px 10px;
      
    }
  }
}
